<nav class="container navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/img/logo.png" alt="" style="width: 50px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarText">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item mx-4">
            <a class="nav-link" routerLink="/project">Project</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" routerLink="/about-me">About Me</a>
        </li>
        <li class="nav-item mx-4">
          <a class="nav-link" href="#">Nothing</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
  </div>
</nav>