/* You can add global styles to this file, and also import other style files */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;1,500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&display=swap');


*{
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
  padding: 10px;
  padding-inline: 25px;
  background: linear-gradient(96.02deg, #BC0E19 7.77%, #DB202C 91.68%);
  box-shadow: 0px 5px 25px rgba(192, 30, 41, 0.5);
  border-radius: 15px;
  border: none;
}

.btn-primary :hover{
  color: black;
}